{
  "branches": [
    "master"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "zip -jrq /tmp/release.zip ./scripts ./*.yml ./README.md ./LICENSE"
      }
    ],
    [
      "semantic-release-major-tag",
      {
        "customTags": [
          "v${major}",
          "v${major}.${minor}"
        ]
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "/tmp/release.zip",
            "name": "publish-composer-package-${nextRelease.version}.zip",
            "label": "Composer Package Publisher v${nextRelease.version}"
          }
        ]
      }
    ]
  ]
}
