{
  "branches": [
    "master"
  ],
  "plugins": [
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "CHANGELOG.md"
      }
    ],
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "zip -jrq /tmp/release.zip ./*.bash ./*.yml ./README.md ./LICENSE"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "CHANGELOG.md",
          ".github/workflows/reusable_*.yml"
        ],
        "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
      }
    ],
    [
      "semantic-release-major-tag",
      {
        "customTags": [
          "v${major}",
          "v${major}.${minor}"
        ]
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "/tmp/release.zip",
            "name": "publish-composer-package-${nextRelease.version}.zip",
            "label": "Composer Package Publisher v${nextRelease.version}"
          }
        ]
      }
    ]
  ]
}
